header{
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color:chocolate; */
    /* background-color: cadetblue; */
    background-color: #4a5759;
    color: white;
    font-family:sans-serif;
    width: 100%;
    text-align: center;
    border-radius: 20px;
}